<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ASIN Catalog Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lux/bootstrap.min.css"> -->
        <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css">
       
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
      </head>
  <body>
     
     
    <div class="container">
          <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <h1 class="display-4">Catalog Dashboard</h1>
                      <p class="lead">Comprehensive portal for all products</p>
                  </div>
          </div>
          <form method="POST" action="./searchPRODUCT" style="display: inline">
            <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="product">Product</label>
                      <input type="text" class="form-control" id="product" name="productname" placeholder="Enter..." onfocus="this.value=''">
                  </div>
                  <div class="form-group col-md-3">
                      <label for="inputBU">Business Unit</label>
                      <select id="inputBU" class="form-control" name="bu">
                              <option selected>Select...</option>                            
                      </select>                    
                  </div>
                  <div  class="form-group col-md-3">
                      <label for="inputSubBU">Sub Business Unit</label>
                      <select id="inputSubBU" class="form-control" name="subbu">
                              <option selected>Select...</option>
                      </select>
                  </div>
            </div>
                  <div class="form-group col-md-4">
                    <button id="filter-btn1" type="submit" class="btn btn-info" name="asin_button" >Search ASIN</button>
                    <button id="filter-btn2" type="submit" class="btn btn-info" name="upc_button" >Search UPC</button>
                  </div>
        </form>

        
    </div>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> 
      
          
   
  </body>
</html>