<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Mars Data</a></p>
        </div>

          <!-- Display Mars data -->
        <div class="row">
            <div class="col-lg-8">
                <span class="border border-dark">
                    <div class="card">
                            <h4 class="card-header">
                                <b>Latest Mars News</b>
                            </h4>
                            <div class="card-body">
                              <h5 class="card-title">{{ mars_data.news_title }}</h5>
                              <p class="card-text">{{ mars_data.news_p }}</p>                              
                            </div>
                    </div>
                </span>
                <br>
                <h4 class="heading"><b>Featured Mars Image</b></h4>
                <a href="{{ mars_data.featured_img_url }}">
                    <img class="figure_img" src="{{ mars_data.featured_img_url }}" width=700px height=300px>
                </a>
            </div>
            <br>
            <br>
            <div class="col-lg-4">
                <div class="card" style="width: 40rem;">
                    <div class="card-body">
                        <h4 class="card-title"><b>Current Mars Weather</b></h4>
                        <p class="card-text">{{ mars_data.mars_weather}}</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h4 class="heading"><b>Mars Facts</b></h4>
                   
                        {{ mars_data.facts_html_table|safe }}
                   
                
            </div>
        </div>
        <br>
        <h4 class="heading text-center"><b>Mars Hemispheres</b></h4>
            <div class="row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 40rem;">
                    <a href="{{ mars_data.hemisphere_image_urls[0].img_url }}">
                        <img class="card-img-top" src="{{ mars_data.hemisphere_image_urls[0].img_url }}" width=400px alt="{{ mars_data.hemisphere_image_urls[0].title }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{ mars_data.hemisphere_image_urls[0].title }}</h4>
                    </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 40rem;">
                    <a href="{{ mars_data.hemisphere_image_urls[1].img_url }}">
                        <img class="card-img-top" src="{{ mars_data.hemisphere_image_urls[1].img_url }}" width=400px alt="{{ mars_data.hemisphere_image_urls[1].title }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{ mars_data.hemisphere_image_urls[1].title }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 40rem;">
                    <a href="{{ mars_data.hemisphere_image_urls[2].img_url }}">
                        <img class="card-img-top" src="{{ mars_data.hemisphere_image_urls[2].img_url }}" width=400px alt="{{ mars_data.hemisphere_image_urls[2].title }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{ mars_data.hemisphere_image_urls[2].title }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="width: 40rem;">
                    <a href="{{ mars_data.hemisphere_image_urls[3].img_url }}">
                        <img class="card-img-top" src="{{ mars_data.hemisphere_image_urls[3].img_url }}" width=400px alt="{{ mars_data.hemisphere_image_urls[3].title }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-text text-center">{{ mars_data.hemisphere_image_urls[3].title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>