<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ASIN Catalog Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lux/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
        <!-- <link rel="stylesheet" href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
       
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
      </head>
  <body>
     
      <div class="text-center">
          <h1>UPC Display page</h1>
          <br/><br/>
                
      </div>
      <form >
        <div class="col-md-10">
            <div id="table-area" class="">
              <table id="upc-table" class="table table-hover" name="upc-table">
               
                <tbody>
                    <tr> <input type="button" value="Go back" class="input2" onclick="history.back()"></tr>   
                    <tr class="bg-info">
                      <td>
                        <input type="text" name="UPC" value="UPC"  readonly="readonly"/>
                        <input type="text" name="UPCNAME" value="UPC NAME"  size="100" readonly="readonly" />
                        <input type="text" name="BU" value="BU" readonly="readonly" />
                        <input type="text" name="SUBBU" value="Sub BU" readonly="readonly" />
                        <input type="text" name="PEPBRND" value="Pepsi Brand" readonly="readonly" />
                        <input type="text" name="BRNDSRC" value="Brand Source" readonly="readonly" />
                      </td>
                    </tr>
                 
                    {% for u in upcs %}
                    
                    <tr>                   
                      <td>
                      <form  method="POST" action="./display_update" style="display: inline"> 
                      
                          <input type="text" name="UPC" value="{{u.UPC}}" readonly="readonly" />
                          <input type="text" name="UPCNAME" value="{{u.UPCName}}" size="100" readonly="readonly" />
                          <input type="text" name="BU" value="{{u.BU}}" readonly="readonly" />
                          <input type="text" name="SubBU" value="{{u.SubBU}}" readonly="readonly" />
                          <input type="text" name="PepsiBrand" value="{{u.PepsiBrand}}" readonly="readonly" />
                          <input type="text" name="BrandSource" value="{{u.BrandSource}}" readonly="readonly" />
                          <input type="submit" class="input2" value="Edit" />

                        </form>
                      </td>
                    </tr>
                   
                </tbody>
              
                {% endfor %}
            
              </table>
            </div>
              <input type="button" value="Go back" class="input2" onclick="history.back()">              
   
            </form> 
          </div>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> 
             
  </body>
</html>